.imagen{
    box-sizing: content-box;
    background-repeat: no-repeat;
    height: 210px;
    color: white;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    padding-left: 10px;
}

body{
    font-family: 'Roboto Mono', monospace;
    background-color: #fff; 
}

#botonArchivos{
    background-color: rgba(243, 53, 28, 0.856);
    border: none;
    border-radius: 15px;
    color: white;
    margin-top: 10px;
    transition: all 0.4s ease 0s;
    text-transform: uppercase;
    padding: 5px 5px 5px 5px;
    outline: none;
    margin-bottom: 10px;
}

#botonArchivos:hover {
    background: #b90303d3;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(187, 9, 9, 0.705);
    -moz-box-shadow: 0px 5px 40px -10px rgba(187, 9, 9, 0.705);
    box-shadow: 5px 40px -10px rgba(187, 9, 9, 0.705);
    transition: all 0.4s ease 0s;
    outline: none;
    }

#botonArchivosDescargar{
    background-color: rgba(243, 53, 28, 0.856);
    border: none;
    border-radius: 15px;
    color: white;
    margin-top: 10px;
    transition: all 0.4s ease 0s;
    text-transform: uppercase;
    padding: 5px 5px 5px 5px;
    outline: none;
    margin-bottom: 10px;
}

#botonArchivosDescargar:hover {
    background: #b90303d3;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(187, 9, 9, 0.705);
    -moz-box-shadow: 0px 5px 40px -10px rgba(187, 9, 9, 0.705);
    box-shadow: 5px 40px -10px rgba(187, 9, 9, 0.705);
    transition: all 0.4s ease 0s;
    outline: none;
    }



.imagen-usuario{
    box-sizing: border-box;
    background-repeat: no-repeat;
    height: 180px;
    color: white;
    font-weight: bold;
}

.imagen-archivos{
    box-sizing: content-box;
    background-repeat: no-repeat;
    height: 150px;
    color: white;
    font-weight: bold;
    margin-top: 19px;
    width: 250px;
}

#editor, #editorJS, #editorCSS{
    height: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

tbody tr:hover{
    background-color: rgba(228, 64, 42, 0.63) !important;
    color: white;
}

.ck-editor__editable_inline{

    min-height: 190px;
}